.may{
  text-transform: uppercase;
}

.white{
  color:white;
}

.bold{
  font-weight: 700;
}

.gray{
  color:#333333;
}

.gray-c{
  color:#eaeaea;
}

.medium{
  font-size: 1.7em;
}

.tlupa{
  font-size: 3em;
}

.none{
  display:none;
}

.verdec{
  color:#18BC9C;
}

.titleh1{
  font-size: 3em;
}

.porcion{
  display: block;
  position: relative;
  top: 22em;
}


.ico{
  width: 2em;
  height: 2em;
  text-align: center;
  border:1px solid #fff;
  border-radius: 50%;
  padding:10px;
  margin:10px;
}
