.may{
  text-transform: uppercase;
}

.white{
  color:white;
}

.bold{
  font-weight: 700;
}

.gray{
  color:#333333;
}

.gray-c{
  color:#eaeaea;
}

.medium{
  font-size: 1.7em;
}

.tlupa{
  font-size: 3em;
}

.none{
  display:none;
}

.verdec{
  color:#18BC9C;
}

.titleh1{
  font-size: 3em;
}

.porcion{
  display: block;
  position: relative;
  top: 22em;
}
