@import url("common.css");

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}


header{
  background-color: #2C3E50;
  position:fixed;
  width:100%;
  min-height: 70px;
  padding:29px 0;
  z-index: 1;
  transition: all .3s;
}


section{
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


h1{
  font-size: 2em;
  letter-spacing: 1px;
  transition: all .3s;
}


nav.index{
  display:flex;
  width: 26%;
  min-height: 2em;
  justify-content:center;
  align-items: flex-end;
  flex-wrap: wrap;
  letter-spacing: 1px;
}


a{
  text-decoration: none;
  padding:0.8em;
}


.js-up{
  font-size: 1.5em;
  transition: all .3s;
}


.js-hup{
  padding:10px 0;
  transition: all .3s;
}


a:hover{
  color:#18BC9C;
}


section.start{
  position:relative;
  top:4rem;
  height: 46.3em;
  background-color:#18BC9C;
  width:100%;
  margin:0;
  padding-top: 3rem;
  transition: all .3s;
}


.container{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  height:50.3em;
  align-items: center;
  padding:7.2em 0;
  width:100%;
}


div.rect{
  background-color: #fff;
  height: 0.4em;
  display:inline-flex;
  margin:0.5em;
  width:40%;
  color:#18BC9C;
}


div.title{
  display:flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:6.5em;
}


.black{
  background-color:#333333;
  color:#fff;
  height: 0.4em;
  display:inline-flex;
  margin:0.5em;
  width:38%;
}


.fotos{
  margin: 3em auto;
  display:inline-flex;
  width:100%;
  justify-content: center;
  align-content:center;
  flex-wrap: wrap;
  height:600px;
}


div.icono{
  background-color: rgba(24, 188, 156, 0.7);
  width:100%;
  height: 250px;
  position:absolute;
  top:0;
  z-index:-1;
  text-align: center;
  padding:30% 0;
  box-sizing: border-box;
}


div.portfoto:hover div.icono{
  z-index:0;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:#fff; /* Fallback color */
  }

/* Contenido del modal */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border:12px solid white;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* boton cerrar el modal */
#close {
    position: absolute;
    top: -58px;
    right: 30px;
    color: #eaeaea;
    font-size: 160px;
    font-weight: 100;
    transition: 0.3s;
}


#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.cerrar{
  cursor:pointer;
  padding:10px;
  border-radius: 14%;
}


.parrafomod{
  width:50%;
  margin:0 auto;
  text-align: center;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.parrafomod>p{
  font-size: 1.2em;
  line-height: 22px;
}


.fa-times{
  margin-right: 5px;
}

/* 100% imagen en la pantalla */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.aguamarina{
  background-color:#18BC9C;
  width:100%;
  height: 500px;
  top:19em;
}


div.title2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}


div.parrafos{
  width:70%;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  min-height:200px;
}


div.parrafos>p{
  font-size: 1.3em;
  margin:0 1em;
}


div.down>a{
  padding:0.5em;
  border:2px solid white;
  border-radius: 5%;
  font-size: 1.3rem;
}


div.down>a:hover{
  background-color: #fff;
  color:#18BC9C;
}


.extra{
  font-size: 1.3rem;
  margin:3px;
}


.title3{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}


.contactame{
  top:27em;
}


form{
  display:flex;
  flex-direction: column;
  width:70%;
  margin:40px auto;
  min-height: 500px;
}


div.linea{
  border-top: 1px solid #eaeaea;
  padding: 10px 0;
  margin:30px 0 0 0;
}


input[type="submit"]{
  padding:10px;
  background-color: #18BC9C;
  margin-bottom: 30px;
  color:#fff;
  width:10%;
  border:0;
  border-radius: 10%;
  font-size: 1.5em;
}


.js-active{
  background-color:#18BC9C;
}


.js-active:hover{
  color:#fff;
}


.pfoot{
  top:30em;
  background-color: #2C3E50;
}


.pie{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width:100%;
}


.foot{
  display:flex;
  flex-direction: column;
  width:25%;
  justify-content:space-around;
  align-items: center;
  height: 160px;
  margin:0;
}


.n2{
  display:flex;
  width:33.3333%;
  justify-content:space-around;
  align-items: center;
  height: 160px;
}


.foot>div{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 80%;
  font-size: 1.5em;
  text-align: center;
}


.foot>div>p{
  font-size: 1em;
  margin:auto 10px;
}


.redes{
  flex-wrap: nowrap;
}


.ico:hover{
  color:#18BC9C;
  background-color: #fff;
  cursor:pointer;
}


.aqua{
  color:#18BC9C;
  font-size: 1em;
}


.foot>.final>p{
  width: 100%;
  flex-wrap: nowrap;
  margin:0;
}


div.padrecopy{
  width:100%;
  background-color: #233140;
  text-align: center;
}


div.copy{
  width:93%;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
